<%- include('partials/header') %>

<div class="conatiner">
    <div style="width: 50%; margin: 0 auto;">
        <form class="form-horizontal" >
            <div class="form-group">
                <h4><label>Name:</label></h4>
                <input class="form-control" type="text" name="name" value="<%= currentUser.username %>">
            </div>
            <div class="form-group">
                <h4><label>Email:</label></h4>
                <input class="form-control" type="text" value="<%= currentUser.email %>">
            </div>
            <div class="form-group">
                <h4><label>Phone No:</label></h4>
                <input class="form-control" type="text" value="<%= currentUser.phoneno %>">
            </div>
            <div class="form-group">
                <h4><label>Hotel Booked:</label></h4>
                <input class="form-control" type="text" value="<%= hotel.name %>">
            </div>
            <div class="form-group">
                <h4><label>Enter no of rooms to be booked:</label></h4>
                <input class="form-control" name="noofroom" type="number" placeholder="enter no of rooms" id="noofroom" oninput="fun()">
            </div>
            <div class="form-group">
                <h4><label>Booking Date:</label></h4>
                <input class="form-control" id="bdate" name="bdate">
            </div>
            <div class="form-group">
                <h4><label>Arrival Date:</label></h4>
                <input class="form-control" name="adate" type="date">
            </div>
            <div class="form-group">
                <h4><label>Total price:</label></h4>
                <input class="form-control" type="number" name="tprice" id="tprice" value="<%= hotel.price %>">
            </div>
            <div class="form-group">
                <button class="btn btn-primary">Confirm Booking</button>
                <a href="/hotels/<%= hotel._id %>" class="btn btn-primary">Cancel</a>
            </div>
        </form>
    </div>
</div>

<script type="text/javascript">
    document.getElementById('bdate').value = Date();
    function fun(){
        document.getElementById('tprice').value *= (document.getElementById('noofroom').value);
    }
</script>

<%- include('partials/footer') %>